<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Upload Image</title>
</head>
<body>
  <h1>Upload Image</h1>
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <div>
      <input type="file" name="image" required>
    </div>
    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</body>
</html>