<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Public Page</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <style>
      /* Add some padding to the top of the page content */
      body {
        padding-top: 70px;
      }
    </style>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="./">My App</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="./public">Public</a>
            </li>
            <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" href="./private">Private</a> -->
            <!-- </li> -->
            <li class="nav-item">
              <a class="nav-link" href="./upload">Upload</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12">
          <h1 class="text-center my-5">All Uploaded Images</h1>
          <div class="row" id="imageContainer">
           
          </div>
        </div>
      </div>

      <!-- Popup Exif Data -->
      <div
        class="modal fade"
        id="exifModal"
        tabindex="-1"
        aria-labelledby="exifModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exifModalLabel">Exif Data</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Compression</th>
                    <td id="compression">Canon</td>
                  </tr>
                  <tr>
                    <th scope="row">Filter</th>
                    <td id="filter">Canon</td>
                  </tr>
                  <tr>
                    <th scope="row">Width</th>
                    <td id="width">Canon</td>
                  </tr>
                  <tr>
                    <th scope="row">Height</th>
                    <td id="height">Canon</td>
                  </tr>
                  <tr>
                    <th scope="row">Description</th>
                    <td id="description">Canon</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/exifreader@4.12.0/dist/exif-reader.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- JavaScript -->
    <script>
      $(document).ready(async function () {
        // renderExif($("img")[0].src);
      });

      async function renderExif(imageUrl) {
        var tags;
        tags = await ExifReader.load(imageUrl);
        var compression = document.getElementById("compression");
        var filter = document.getElementById("filter");
        var width = document.getElementById("width");
        var height = document.getElementById("height");
        var description = document.getElementById("description");

        compression.textContent = tags?.Compression?.description;
        filter.textContent = tags?.Filter?.description;
        width.textContent = tags["Image Width"]?.description;
        height.textContent = tags["Image Height"]?.description;
        description.textContent = tags?.description?.description;
      }

      function getData(endPoint) {
        return new Promise((resolve, reject) => {
          $.ajax({
            url: `/${endPoint}`,
            type: "GET",
            contentType: "application/json",
            success: function (response) {
              resolve(response);
            },
            error: function (xhr, status, error) {
              console.error("Error posting data:", error);
            },
          });
        });
      }

      async function renderImages() {
        var images = await getData("images");

        images.forEach(image => {
          renderImage(image);
        });
      }

      function renderImage(url) {
        var container = document.getElementById("imageContainer");
        container.innerHTML += `
          <div class="col-md-3">
              <a href="#" data-bs-toggle="modal" data-bs-target="#exifModal">
                <img
                  src="./uploads/${url}"
                  class="img-thumbnail"
                  alt="..."
                  style="width: 300px; height: 300px; object-fit: contain;"
                  onClick = "renderExif(this.src)"
                />
              </a>
            </div>`;
      }

      renderImages();
    </script>
  </body>
</html>
